$chrome_color: #da2e2e;
$chrome_font: "Helvetica Neue", "Helvetica", Arial;
$chrome_padding: 10px;

$chrome_shadow: #000;
$chrome_shadow_distance: 4px;

$map_height: 600px;
$map_width: 900px;

$chicago_font_stack: "Chicago", sans-serif;
$header_font_stack: "Helvetica", "Helvetica Neue", Arial, sans-serif;
$body_font_stack: 'IBM Plex Mono', 'Courier New', monospace;

$theme_blue: #0a3e54;
$theme_red: #da2e2e;
$theme_orange: #f3a022;

$d_icon_focus_color: $theme_orange;

$navbar_color: #000000;

$default_cursor: url('img/def_cursor_small.png') 5 5, default;
$pointer_cursor: url('img/pointer_cursor_alt_small.png') 10 5, pointer;

@font-face {
    font-family: "Chicago";
    src: url("fonts/chicago.otf") format("opentype");
}

body {
	font-family: $body_font_stack;
	margin: 0px;
	padding: 0px;
	background-color: $theme_blue;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: $default_cursor;
}

a {
	cursor: $pointer_cursor;
}

.framed {
	position: absolute;
	border: solid 6px $chrome_color;
	padding-top: 2*$chrome_padding;

	box-shadow: $chrome_shadow_distance $chrome_shadow_distance 0px $chrome_shadow;

	outline: none;
	background-color: white;

	display: none;
}

.framed.active {
	display: block;
}

.framed .title_bar {
	height: 24px;
	background-color: $chrome_color;
	color: white;
	font-family: $chrome_font;
	font-style: italic;
	margin-top: -2*$chrome_padding - 1;
	position: fixed;
	width: inherit;

	outline: none;
	box-shadow: none;

	cursor: $pointer_cursor;
}

.framed .title_bar .close_button {
	float: right;
	color: white;
	font-size: 0.8em;
	height: 15px;
	width: 15px;
	margin-top: 4px;
	margin-right: -4px;
	cursor: $pointer_cursor;
}

.sponsors {
	.frame_contents {
		overflow: scroll;
		height: 600px;
	}
	a {
		font-weight: 700;
	}
}

/* Draggable quirk fix */
.draggable-mirror .close_button {
	display: none;
}

.draggable-mirror {
	display: none;
}

.about {
	width: 600px;
	height: auto;
}

.default_window {
	bottom: 32px;
	right: 32px;
	display: block;
}

.faq {
	width: 800px;
	position: absolute;
	height: 300px;
	overflow: scroll;
}

.faq a {
	color: $theme_blue;
	text-decoration: none;
	font-weight: 700;
}

.faq a:hover {
	color: $theme_red
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: white;
	cursor: $pointer_cursor;
	padding: 18px;
	width: 100%;
	border: none;
	outline: none;
	transition: 0.4s;
	font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activate, .accordion:hover {
  background-color: $theme_orange;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.map { 
	height: $map_height;
	width: $map_width;
}

#map {
	height: $map_height;
	width: $map_width;
}

.marker {
	background-image: url('./img/logo.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: $pointer_cursor;
	filter: drop-shadow($chrome_shadow_distance $chrome_shadow_distance 0px #aaa);
	-webkit-filter: drop-shadow($chrome_shadow_distance $chrome_shadow_distance 0px #aaa);
}

.mapboxgl-popup {
	max-width: 200px;
}
  
.mapboxgl-popup-content {
	text-align: left;
	h3 {
		font-family: $header_font_stack;
		font-style: italic;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	p {
		font-family: $body_font_stack;
		padding-right: 20px;
	}
	box-shadow: $chrome_shadow_distance $chrome_shadow_distance 0px $chrome_shadow !important;
	border-radius: 0px !important;
	background-color: $theme_red !important;
	color: white !important;
	padding: 5px;
}

.mapboxgl-popup-tip {
	display: none;
}

.mapboxgl-popup-close-button {
	color: white !important;
	font-size: 18px;
}

.menu {
	height: 30px;
	background-color: grey;
	width: 100%;
	top: 0;
	position: absolute;
	display: inline-block;
	z-index: 10;
	font-family: $chicago_font_stack;
}

#time {
	padding: 5px 16px;
	float: right;
	color: $navbar_color;
	margin-top: 5px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: $chicago_font_stack;
    //font-smooth: never;
    -webkit-font-smoothing: antialiased;
	box-shadow: 0px $chrome_shadow_distance 0px $chrome_shadow;
}

.navbar_icons {
	float: right;
	margin-top: 8px;
	i {
		margin-left: 10px;
		color: #999;
	}
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 5px 16px;
    padding-top: 10px;
    text-decoration: none;
    color: $navbar_color;
}

.navbar a:visited {
	color: $navbar_color;
}

.dropdown {
    float: left;
	overflow: hidden;
	z-index: 1000;
}

.dropdown .dropbtn, .dropbtn2 {
    cursor: $pointer_cursor;
    font-size: 16px;    
    border: none;
    outline: none;
    color: $navbar_color;
    padding: 5px 16px;
    padding-top: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:focus, .dropbtn2:focus, .navbar a:focus {
	background-color: $theme_orange;
	color: $navbar_color;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    color: white;
    min-width: 160px;
    box-shadow: $chrome_shadow_distance  $chrome_shadow_distance 0px $chrome_shadow;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 36px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: $header_font_stack;
    font-size: 12pt;
    font-style: italic;
}

.dropdown-content a:hover {
    background-color: $theme_orange;
    color: $navbar_color !important;
    cursor: $pointer_cursor;
}

.show {
    display: block;
}

#last, .dropdown-content {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

/* MLH Badge */
#mlh-trust-badge img {
	-webkit-filter: drop-shadow($chrome_shadow_distance $chrome_shadow_distance 0px #000) invert(1);
  	filter: drop-shadow($chrome_shadow_distance $chrome_shadow_distance 0px #fff) invert(1);
}

#mlh-trust-badge {
	margin-top: 0px;
	z-index: 999;
	display:block;
	max-width:100px;
	min-width:60px;
	position:fixed;
	right: 64px;
	top:28px;
	width:10%;
}

/* Desktop Icons */
.windows {
	position: absolute;
	height: 100%;
	width: 100%;
}
 /* Desktop icons */
.d-icon {
	float: left;
	height: 86px;
	width: 86px;
	text-align: center;
	margin-left: 30px;
	margin-top: 32px;
	cursor: $pointer_cursor;
	font-style: italic;
	font-weight: 500;
	font-size: 10pt;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1;
}

.d-icon.focused {
	color: white;
	background-color: $d_icon_focus_color;
	.d-label {
		background-color: $d_icon_focus_color;
		color: $theme_blue;
	}
	img {
		background-color: transparent;
		opacity: 0.8;
	}
}

 .d-icon img {
	height: 64px;
	width: 64px;
	margin-bottom: 10px;
	-webkit-filter: drop-shadow($chrome_shadow_distance $chrome_shadow_distance 0px #fff) invert(1);
  	filter: drop-shadow($chrome_shadow_distance $chrome_shadow_distance 0px #fff) invert(1);
  	image-rendering: pixelated;
}

 .d-label {
	display: inline-block;
	width: 75px;
	background-color: white;
}

.sponsors {
	height: 600px;
	width: 1000px;
}

.sponsors a {
	color: $theme_blue;
	text-decoration: none;
}

.sponsors a:hover {
	color: $theme_red
}

.sponsor-button {
	width: 100px;
	cursor: $pointer_cursor;
}

.sponsor-button-text {
	padding: 5px 10px;
	color: $theme_blue
}

.sponsor-item {
	margin: 10px
}

.active-button {
	background-color: $theme_orange
}

.schedule {
	width: 800px;
	.framed_contents {
		padding: 10px;
	}

	h2 {
		margin-top: 10px;
		margin-bottom: 3px;
	}

	h4 {
		margin-top: 0;
		margin-bottom: 5px;
	}

	p {
		margin-bottom: 5px;
	}
}

.faq-button {
	margin: 5px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: $pointer_cursor;

	p {
		margin: 0px
	}

	i {
		padding-left: 5px;
	}
}

.faq-button:hover {
	background-color: $theme_orange
}

.faqActive {
	background-color: $theme_orange
}

#faqTarget {
	text-align: left;
	padding: 10px 20px;
}

/* Mobile site */
@media (max-width:801px) {
	body {
		
		margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: $theme_blue;
  font-family: "Avenir Next", "Avenir", sans-serif;
	}

.mobile-nav {
	width: 100%;
	background-color: white;
	height: 40px;
	position: absolute;
	top: 0px;
	button {
		outline: none;
	}
}

a {
	text-decoration: none;
	color: white;
}

.side-drawer {
	height: 100%;
	z-index: 100;
	position: fixed;
	width: 40%;
	top: 40px;
	background-color:$theme_red;
	display: none;
	
}

.nav-category {
	margin: 10px;
}

.open {
	display: block;
}

.navbar {
	display: none;
}

#mlh-trust-badge {
	display: none;
}

.d-icon {
	display: none;
}
}