@font-face {
  font-family: "Chicago";
  src: url("fonts/chicago.otf") format("opentype");
}
body {
  font-family: "IBM Plex Mono", "Courier New", monospace;
  margin: 0px;
  padding: 0px;
  background-color: #0a3e54;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: url("img/def_cursor_small.png") 5 5, default;
}

a {
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
}

.framed {
  position: absolute;
  border: solid 6px #da2e2e;
  padding-top: 20px;
  box-shadow: 4px 4px 0px #000;
  outline: none;
  background-color: white;
  display: none;
}

.framed.active {
  display: block;
}

.framed .title_bar {
  height: 24px;
  background-color: #da2e2e;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  font-style: italic;
  margin-top: -21px;
  position: fixed;
  width: inherit;
  outline: none;
  box-shadow: none;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
}

.framed .title_bar .close_button {
  float: right;
  color: white;
  font-size: 0.8em;
  height: 15px;
  width: 15px;
  margin-top: 4px;
  margin-right: -4px;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
}

.sponsors .frame_contents {
  overflow: scroll;
  height: 600px;
}
.sponsors a {
  font-weight: 700;
}

/* Draggable quirk fix */
.draggable-mirror .close_button {
  display: none;
}

.draggable-mirror {
  display: none;
}

.about {
  width: 600px;
  height: auto;
}

.default_window {
  bottom: 32px;
  right: 32px;
  display: block;
}

.faq {
  width: 800px;
  position: absolute;
  height: 300px;
  overflow: hidden;
}

.faq a {
  color: #0a3e54;
  text-decoration: none;
  font-weight: 700;
}

.faq a:hover {
  color: #da2e2e;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activate, .accordion:hover {
  background-color: #f3a022;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.map {
  height: 600px;
  width: 900px;
}

#map {
  height: 600px;
  width: 900px;
}

.mobile-header {
  display: none;
}

.marker {
  background-image: url("./img/logo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
  filter: drop-shadow(4px 4px 0px #aaa);
  -webkit-filter: drop-shadow(4px 4px 0px #aaa);
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  box-shadow: 4px 4px 0px #000 !important;
  border-radius: 0px !important;
  background-color: #da2e2e !important;
  color: white !important;
  padding: 5px;
}
.mapboxgl-popup-content h3 {
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 3px;
}
.mapboxgl-popup-content p {
  font-family: "IBM Plex Mono", "Courier New", monospace;
  padding-right: 20px;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  color: white !important;
  font-size: 18px;
}

.menu {
  height: 30px;
  background-color: grey;
  width: 100%;
  top: 0;
  position: absolute;
  display: inline-block;
  z-index: 10;
  font-family: "Chicago", sans-serif;
}

#time {
  padding: 5px 16px;
  float: right;
  color: #000000;
  margin-top: 5px;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: "Chicago", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0px 4px 0px #000;
}

.navbar_icons {
  float: right;
  margin-top: 8px;
}
.navbar_icons i {
  margin-left: 10px;
  color: #999;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 5px 16px;
  padding-top: 10px;
  text-decoration: none;
  color: #000000;
}

.navbar a:visited {
  color: #000000;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1000;
}

.dropdown .dropbtn, .dropbtn2 {
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #000000;
  padding: 5px 16px;
  padding-top: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:focus, .dropbtn2:focus, .navbar a:focus {
  background-color: #f3a022;
  color: #000000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  color: white;
  min-width: 160px;
  box-shadow: 4px 4px 0px #000;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 36px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
  font-size: 12pt;
  font-style: italic;
}

.dropdown-content a:hover {
  background-color: #f3a022;
  color: #000000 !important;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
}

.show {
  display: block;
}

#last, .dropdown-content {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* MLH Badge */
#mlh-trust-badge img {
  -webkit-filter: drop-shadow(4px 4px 0px #000) invert(1);
  filter: drop-shadow(4px 4px 0px #fff) invert(1);
}

#mlh-trust-badge {
  margin-top: 0px;
  z-index: 999;
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 64px;
  top: 28px;
  width: 10%;
}

/* Desktop Icons */
.windows {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Desktop icons */
.d-icon {
  float: left;
  height: 86px;
  width: 86px;
  text-align: center;
  margin-left: 30px;
  margin-top: 32px;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
  font-style: italic;
  font-weight: 500;
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.d-icon.focused {
  color: white;
  background-color: #f3a022;
}
.d-icon.focused .d-label {
  background-color: #f3a022;
  color: #0a3e54;
}
.d-icon.focused img {
  background-color: transparent;
  opacity: 0.8;
}

.d-icon img {
  height: 64px;
  width: 64px;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(4px 4px 0px #fff) invert(1);
  filter: drop-shadow(4px 4px 0px #fff) invert(1);
  image-rendering: pixelated;
}

.d-label {
  display: inline-block;
  width: 75px;
  background-color: white;
}

.sponsors {
  height: 600px;
  width: 1000px;
}

.sponsors a {
  color: #0a3e54;
  text-decoration: none;
}

.sponsors a:hover {
  color: #da2e2e;
}

.sponsor-button {
  width: 100px;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
}

.sponsor-button-text {
  padding: 5px 10px;
  color: #0a3e54;
}

.sponsor-item {
  margin: 10px;
}

.active-button {
  background-color: #f3a022;
}

.schedule {
  width: 800px;
}
.schedule .framed_contents {
  padding: 10px;
}
.schedule h2 {
  margin-top: 10px;
  margin-bottom: 3px;
}
.schedule h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.schedule p {
  margin-bottom: 5px;
}

#schedule-container {
  flex: 1;
  flex-direction: row;
  display: flex;
}

#schedule-saturday {
  flex: 1;
  justify-content: center;
  padding-left: 32px;
  padding-right: 24px;
  margin-right: 8px;
  padding-bottom: 15px;
  height: 100%;
  text-align: left;
  background-color: white;
}

#schedule-sunday {
  flex: 1;
  justify-content: center;
  margin-left: 8px;
  padding-left: 24px;
  padding-right: 32px;
  text-align: left;
  background-color: white;
}

.faq-button {
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
}
.faq-button p {
  margin: 0px;
}
.faq-button i {
  padding-left: 5px;
}

.faq-button:hover {
  background-color: #f3a022;
}

.faqActive {
  background-color: #f3a022;
}

#faqTarget {
  text-align: left;
  padding: 10px 20px;
}

.spacer {
  display: none;
}

.background_logo {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/* Mobile site */
@media (max-width: 801px) {
  .mobile-nav {
    width: 100%;
    background-color: white;
    height: 40px;
    position: absolute;
    top: 0px;
  }
  .mobile-nav button {
    outline: none;
  }

  html {
    overflow: scroll;
  }

  body {
    margin: 0;
    padding: 0;
    background: #0a3e54;
    overflow: scroll;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .framed {
    display: block;
    position: relative;
    overflow: hidden;
    border-top: 2px solid #da2e2e;
    border-right: none;
    border-left: none;
    padding-top: 0px;
  }

  .title_bar {
    display: none;
  }

  .map, .about, .faq, .schedule, .sponsors {
    width: 100%;
    height: auto;
  }

  .mobile-nav {
    width: 100%;
    background-color: white;
    height: 40px;
    position: fixed;
    top: 0px;
    box-shadow: 0px 4px 0px #000;
  }
  .mobile-nav button {
    outline: none;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
  }

  .side-drawer {
    height: 100%;
    z-index: 100;
    position: fixed;
    width: 40%;
    top: 40px;
    background-color: #da2e2e;
    display: none;
  }

  .nav-category {
    margin: 10px;
  }

  .side-drawer {
    height: 100%;
    z-index: 100;
    position: fixed;
    width: 75%;
    top: 40px;
    background-color: #da2e2e;
    display: none;
    overflow-y: scroll;
    top: 40px;
    bottom: 0;
  }

  .faq-button:hover {
    background-color: transparent;
  }

  .drawer-button-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    display: none;
    font-size: 15px;
    background-color: #B32626;
    margin-top: 10px;
  }
  .drawer-button-content div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .drawer-button-content a {
    color: white;
    margin-bottom: 10px;
  }

  .nav-category {
    margin-top: 20px;
  }

  .nav-category a {
    margin: 10px;
  }

  .navbar {
    display: none;
  }

  #mlh-trust-badge {
    display: none;
  }

  .d-icon {
    display: none;
  }

  .spacer {
    display: block;
    height: 400px;
    margin-bottom: -40px;
  }

  .background_logo {
    position: fixed;
    top: 0;
    height: 400px;
    width: 100%;
    z-index: -1;
  }

  .open {
    display: block;
  }

  .hamburger {
    cursor: url("img/pointer_cursor_alt_small.png") 10 5, pointer;
  }

  .title_bar {
    display: none;
  }

  .map, .about, .faq, .schedule, .sponsors {
    width: 100%;
    height: auto;
  }

  .about {
    margin-top: 30px;
  }

  #schedule-container {
    flex-direction: column;
    flex: 1;
    display: flex;
  }

  #schedule-saturday {
    flex: 1;
    justify-content: center;
    padding-left: 32px;
    padding-right: 24px;
    padding-bottom: 15px;
    height: 100%;
    text-align: left;
    background-color: white;
  }

  #schedule-sunday {
    flex: 1;
    justify-content: center;
    padding-left: 24px;
    padding-right: 32px;
    text-align: left;
    background-color: white;
    padding-bottom: 20px;
  }

  .mobile-header {
    display: block;
    text-align: center;
    margin: 10px;
  }
}

/*# sourceMappingURL=controller_styles.css.map */
