body {
  font-family: "IBM Plex Mono", monospace;
  margin: 0px;
  padding: 0px;
  background-color: #88E1E8;
}

.framed {
  position: absolute;
  border: solid 6px #da2e2e;
  padding: 10px;
  padding-top: 20px;
  box-shadow: 8px 8px 0px #222222;
  outline: none;
  background-color: white;
}
.framed .hidden {
  display: none;
}
.framed .active {
  display: block;
}

.framed .title_bar {
  height: 24px;
  background-color: #da2e2e;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  font-style: italic;
  margin-left: -11px;
  margin-top: -21px;
  margin-right: -11px;
  outline: none;
  box-shadow: none;
  cursor: arrow;
}

.framed .title_bar .close_button {
  float: right;
  color: white;
  font-size: 0.8em;
  height: 15px;
  width: 15px;
  margin-top: 4px;
  margin-right: -4px;
  cursor: pointer;
}

/* Draggable quirk fix */
.draggable-mirror .close_button {
  display: none;
}

.about {
  width: 400px;
}

.faq {
  width: 400px;
  position: absolute;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activate, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.map {
  height: 600px;
  width: 900px;
}

#map {
  height: 600px;
  width: 900px;
}

.menu {
  height: 30px;
  background-color: grey;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -4;
  display: inline-block;
}

#time {
  padding: 5px 16px;
  right: 50px;
  position: absolute;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #0A3E54;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn, .dropbtn2 {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:focus, .dropbtn2:focus, .navbar a:focus {
  background-color: #f3a022;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#last, .dropdown-content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*# sourceMappingURL=controller_styles.css.map */
